$width:700px;
$height:100px;

  .main_class {
    width: $width;
    height: auto;
    border: 1px solid #2b669a;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0px  5px 10px rgba(0,0,0,0.5);
    visibility: visible;


  }
